<div class="full-center-wrapper">
<div class="container">
  <div class="filtro-data">
    <h1>Storico azioni:</h1><input type="date" (change)="cambiaData($event)" />
  </div>

  <ul class="lista-storico">
    <li *ngFor="let log of storico">
      {{ log.username }} - {{ log.azione }} - {{ log.timestamp }}
    </li>
  </ul>

  <nav class="paginazione">
    <button (click)="paginaPrecedente()" [disabled]="paginaCorrente === 0">←</button>
    <span>Pagina {{ paginaCorrente + 1 }} di {{ totalePagine }}</span>
    <button (click)="paginaSuccessiva()" [disabled]="paginaCorrente >= totalePagine - 1">→</button>
  </nav>
</div>
</div>
